BASE_URL = "https://qaplayground.dev/"  Page that is used for example GUI tests
BASE_URL_API = "https://automationintesting.online/" Service that is used for example API tests
LOGIN = "User login to fill"  - can be taken from https://automationintesting.online/
PASSWORD = "User password to fill" - can be taken from https://automationintesting.online/ 

#DEBUG=axios  #uncomment this flag to turn on API debugs for AXIOS
