BASE_URL = "https://qaplayground.dev/"  # Page that is used for example GUI tests
BASE_API_URL = "https://automationintesting.online/"  # Service that is used for example API tests
USERNAME = "User login to fill" # - can be taken from https://automationintesting.online/
PASSWORD = "User password to fill" # - can be taken from https://automationintesting.online/ 